h1, h2, h3, h4, h5, h6{

	font-family: 'cooperhewittbook';
}
.banner h1, .banner p, body.home-2 .banner h1, body.home-2 .banner p{

	font-family: 'cooperhewittbook';
}
nav.navbar.bootsnav.navbar-transparent.white .attr-nav>ul>li>a, nav.navbar.bootsnav.navbar-transparent.white ul.nav>li>a, nav.navbar.bootsnav.no-background.white .attr-nav>ul>li>a, nav.navbar.bootsnav.no-background.white ul.nav>li>a{
	font-family: 'cooperhewittbook';
	font-size: 17px;
}
body, h1, h2, h3, h4, h5, h6, input[type=text], input[type=password], input[type=email], textarea, select, input[type=button], input[type=submit], button, #tiptip_content, .map-box p, .map-box div, .numerical-rating .rating-counter, body .menu-responsive i.menu-trigger:after{

	font-family: cooperhewittlight,helveticaneue,helvetica neue,Helvetica,Arial,sans-serif;
}
.listing-description{
	font-size: 16px;
}
.book-now-btn:hover{
background-color: #ffbe4a !important;
color:#f5f5f5 !important;
}