#myLoader {
    background-color: #37474f8c;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    position: fixed;
}

#myLoader i {
    top: 50%;
    position: fixed;
    left: 50%;
    color: white;
    font-size: 4rem;
}

label.error {
    font-size: 11px !important;
    font-weight: bold;
    color: #f62d51;
}

.my-profile label {
    margin: 0;
}

#contactMessage-error {
    top: 162px !important;
}

#news_letter_form label.error {
    position: absolute;
    top: 60px;
}

#checkout_form .payment-tab-content label.error {
    position: inherit;
}

.alert {
    font-size: 12px;
    font-weight: bolder;
}

.mainImageDiv img {
    height: 400px;
    width: 100%;
}

.galleryImageDiv img {
    width: 150px;
    height: 150px;
    padding: 2px;
    box-shadow: 5px 5px 5px rgba(170, 170, 170, 0.2);
}

.galleryImageDiv .ti-trash {
    position: relative;
    left: 140px;
    top: -55px;
    border: 1px solid #ffbe4a;
    padding: 3px;
    color: #ffbe4a;
    cursor: pointer;
}

.galleryImageDiv .ti-trash:hover {
    color: #ffffff;
    background-color: #ffbe4a;
}

.dataTables_filter, .dataTables_length, .dataTables_info {
    display: none;
}

.descriptionText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}

element.style {
}

.tab-content p:last-child {
    margin-bottom: 0;
}

p.listing-description {
    height: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.verticleilist.listing-shot span.like-listing {
    z-index: 1000;
}

.edit-profile-photo.logo img {
    height: 130px;
}

.dashboard #logo {
    background-color: #f6f6f6;
}

#logo img, .dashboard #logo a img, img.footer-logo {
    width: 100%;
    max-width: 130px;
    max-height: 80px;
}

.tnl-act {
    min-width: 140px;
}

.dashboard-list-box ul li {
    padding: 0;
}

a[aria-expanded=false] i.ti-minus {
    display: none;
}

a[aria-expanded=true] i.ti-plus {
    display: none;
}

.rating-input i.glyphicon {
    font-size: 20px;
    color: #ced3da;
}

.detail-list-rating .rating-input i.glyphicon {
    font-size: inherit;
}

.rating-input i.glyphicon-star:before {
    color: #ffbe4a;
}

#cart.button {
    background: transparent;
    min-width: 18px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 4px;
}

#cart.button i.im {
    font-size: 28px;
    color: #66676b;
}

.listing-item-container .star-rating {
    height: 55px;
}

.like-icon:hover, .like-icon.liked {
    background-color: #ffbe4a;
}

a.like-icon {
    color: #fff;
    font-size: 19px;
    position: absolute;
    z-index: 101;
    right: 30px;
    bottom: 30px;
    cursor: normal;
    background-color: rgba(24, 24, 24, .4);
    display: block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    transition: all .4s;
}

.right-side.dashboard-right-side {
    width: 100%;
}

#mdp-demo .ui-datepicker-inline {
    margin: auto;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #cbc7bd;
    background: #f8f7f6 url(images/ui-bg_fine-grain_10_f8f7f6_60x60.png) 50% 50% repeat;
}

.bk-slots.studioDetail .bk-item {
    width: 33%;
}

option[disabled] {
    background-color: #e5e5e5;
    cursor: not-allowed;
}

#payment-form #phone-error {
    position: absolute;
}

.small-list-detail img {
    height: 65px;
    max-width: 65px;
    float: left;
    margin-right: 10px;
}

/*a[aria-expanded=true] li.ti-plus{*/
/*display: none;*/
/*}*/

/*a[aria-expanded=false] li.ti-false{*/
/*display: none;*/
/*}*/