/*.main-search-container h2{*/
	/*font-family: 'cooperhewittbook';*/
/*}*/
/*.main-search-container h4{*/
	/*font-family: 'cooperhewittlight';*/
	/*font-weight: 300;}*/
/*#navigation.style-1 ul a{*/
	/*font-family: 'cooperhewittlight';*/
	/*font-size: 17px;*/


/*}	*/
/*.headline.centered{*/
	/*font-family: 'cooperhewittbook';*/
/*}*/
body p{
	/*font-family: 'cooperhewittlight';*/
	font-size: 18px;
}
/*#footer .footer-links li a{*/
	/*font-family: 'cooperhewittbook';*/
/*}*/
.header-widget .button, .header-widget .button.border{
	/*font-family: 'cooperhewittlight';*/
	font-size: 17px;
}
/*.copyrights{*/

	/*font-family: 'cooperhewittlight';*/
/*}*/
/*.text-widget span{
	font-family: 'coo'
}*/