.feature-box > .feature-content > * {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 4.5rem;
}
.feature-box > .feature-title > * {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 4.5rem;
}
.owl-carousel .owl-item img {
    max-height: 300px;
}


.inner-content ul, .inner-content ol{
    padding-left: 15px;
}

.video-section-nl{
    padding: 50px 0;
    overflow: hidden;
    display: -webkit-flex; /* Safari */     
    display: flex;

    display: flex;
}        
.fb-video-nl {
    width: 100%;

}

.widget-wrapper {
    display: flex;
    justify-content: space-around;
}
.video-wrapper{
    overflow: hidden;
    border-radius: 0px 27px 0px 0px;
    /* width: calc(100% + 30px); */
    /* transform: translate(-15px, 0px); */
}
@media (max-width: 767px) {
    .video-wrapper {
        border-radius: 0px;
        width: calc(100% + 30px);
        transform: translateX(-15px);
    }
}
@media only screen and (max-width: 480px) {
    .fb-video-nl {
        width: 100%;
        transform: translate(0px,0px);
    }
    .fb-page{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .fb-page{
        margin-top: 20px;
    }
}
@media only screen and (min-width: 768px) {
    .video-section-nl{
        padding: 50px 0;
        overflow: hidden;

    }  
}
@media only screen and (min-width: 1200px) {
    .video-wrapper .fb_iframe_widget iframe{
        margin-left: 30px
    }
}
@media only screen and(max-width: 1228px) and (min-width: 992px) {
    .fb-page{
        margin-left: 40px
    }  
}