@media (min-width: 576px) {
    #header-wrap, .container { max-width: 33.75rem; }
}

@media (min-width: 768px) {
    #header-wrap, .container { max-width: 46.875rem; }
}

@media (max-width: 767px) {
    .feature-box {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    #header-wrap, .container { max-width: 60.625rem; }
}

@media (min-width: 1200px) {
    #header-wrap, .container { max-width: 73.125rem; }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #primary-menu.sub-title ul > li > a {
        padding-left: .875rem;
        padding-right: .875rem;
    }
}

@media (max-width: 991px) {
    .page-section .section-raised {
        margin-top: -3.75rem;
    }

    .section-content > .title > * {
        font-size: 1.75rem;
    }

    .section-content > .description > * {
        font-size: 1.15rem;
    }

    .slider-section .slide-title > * {
        font-size: 2rem;
    }

    .slider-section .slide-sub-title > * {
        font-size: 1.15rem;
    }

    #slider .swiper-button-next,
    #slider .swiper-button-prev {
        bottom: 4rem;
        top: unset;
    }

    .swiper-button-next,
    #slider .swiper-button-next {
        right: 40%;
        transform: translateX(50%);
    }

    .swiper-button-prev,
    #slider .swiper-button-prev {
        left: 40%;
        transform: translateX(-50%);
    }

    .feature-box.style-2 .feature-title > * {
        font-size: 1rem;
    }

    .feature-box.style-2 .feature-content > * {
        font-size: .875rem;
    }

    .feature-box.style-2 .read-more > * {
        font-size: .875rem;
    }

    #top-bar {
        height: 2.75rem;
    }

    .top-links {
        width: 100%;
    }

    .top-links ul {
        margin: 0 auto;
        justify-content: flex-start;
        align-items: center;
    }

    .top-links ul li {
        height: 2.75rem;
    }

    .top-links ul li.right {
        margin-left: 0;
        border-left: 1px solid rgba(255, 255, 255, .1);
    }

    .top-links li > a i {
        font-size: .875rem;
    }

    .top-links li > a > span {
        display: none;
    }

    #header #header-wrap {
        flex-direction: column;
        border: none;
    }

    #header,
    #header-wrap { height: auto !important; }

    #header.sticky-header #header-wrap { position: relative; }

    #header.transparent-header,
    #header.semi-transparent {
        background: #FFF;
        border-bottom: 1px solid #F5F5F5;
        z-index: 123;
    }

    #header.dark.transparent-header,
    #header.dark.semi-transparent {
        background-color: #333;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    #header.transparent-header + #slider,
    body.inner-page #header.transparent-header + .main-section,
    #header.transparent-header + #page-title.page-title-parallax,
    #header.transparent-header + #google-map,
    #slider + #header.transparent-header {
        top: 0;
        margin-bottom: 0;
    }

    #header-trigger { display: none; }

    #logo {
        display: flex;
        align-items: center;
        height: 6.25rem;
        float: none;
        margin: 0 auto 0 !important;
        max-width: 12.375rem;
        text-align: center;
        border: 0 !important;
        padding: 0 !important;
    }

    #logo a.standard-logo { display: inline-block; }


    #header #header-wrap .search-icon {
        position: absolute;
        right: 0;
        top: -3rem;
        font-size: 1rem;
        width: 3.125rem;
        height: 3.125rem;
    }

    #header #header-wrap .button {
        position: absolute;
        right: 1.25rem;
        top: 1.125rem;
        padding: 0.84rem 1.5rem;
        font-size: .875rem;
    }

    #primary-menu {
        display: block;
        float: none;
        width: 100%;
        padding: 0 1rem;
    }

    #primary-menu.right { margin-left: 0; }

    #primary-menu-trigger {
        opacity: 1;
        pointer-events: auto;
        top: 1.5rem;
        margin-top: 0;
        left: 0;
        z-index: 1;
    }

    #primary-menu .container #primary-menu-trigger {
        top: .3125rem;
        left: 0;
    }

    #primary-menu > ul,
    #primary-menu > div > ul {
        display: none;
        float: none !important;
        border: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }

    #primary-menu > div > ul { margin-top: 3.75rem !important; }

    #primary-menu ul ul li:hover > a {
        background-color: #fff;
        color: #000;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-weight: normal;
    }

    #primary-menu li.sub-menu:after {
        display: none;
        width: 0;
        height: 0;
        border: none;
    }

    body:not(.top-search-open) #primary-menu-trigger {
        opacity: 1;
        -webkit-transition: opacity 300ms 300ms ease, top 300ms ease;
        -o-transition: opacity 300ms 300ms ease, top 300ms ease;
        transition: opacity 300ms 300ms ease, top 300ms ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #primary-menu.style-5 > ul {
        padding-right: 0;
        margin-right: 0;
        border-right: 0;
    }

    #primary-menu ul li {
        float: none;
        margin: 0 !important;
        text-align: left !important;
        border-top: 1px solid #EEE;
    }

    #header.split-menu #primary-menu:not(.mobile-menu-off-canvas) > ul:not(:first-child) > li:first-child { border-top: 1px solid #EEE; }

    #primary-menu ul li:first-child { border-top: 0; }

    #primary-menu ul > li > a,
    #primary-menu.style-2 > div > ul > li > a {
        padding: .875rem .25rem !important;
        border: none !important;
        margin: 0 !important;
        color: #6c4099;
    }

    #primary-menu.style-5 > ul > li > a > div { line-height: 22px; }

    #primary-menu.style-5 > ul > li > a > div i {
        display: inline-block;
        margin: 0 .375rem 0 0;
        top: -1px;
        width: 1rem;
        font-size: .875rem;
        line-height: inherit;
    }

    #primary-menu.style-6 > ul > li > a:after,
    #primary-menu.style-6 > ul > li.current > a:after { display: none; }

    #primary-menu.sub-title > ul > li,
    #primary-menu.sub-title.style-2 > div > ul > li {
        background: none !important;
        margin-left: 0;
    }

    #primary-menu.sub-title > ul > li > a,
    #primary-menu.sub-title > div > ul > li > a {
        line-height: 1.375rem;
        font-size: .8125rem;
        border-top: none;
    }

    #primary-menu.sub-title ul li > a span { display: none !important; }

    #primary-menu.sub-title ul li:hover > a,
    #primary-menu.sub-title ul li.current > a,
    #primary-menu.sub-title div ul > li:hover > a,
    #primary-menu.sub-title div ul > li.current > a,
    #primary-menu.style-3 ul li:hover > a,
    #primary-menu.style-3 ul li.current > a {
        background-color: transparent !important;
        color: #444;
        text-shadow: none;
    }

    #primary-menu ul:not(.windows-mobile-menu) li > a i.icon-angle-down:last-child { display: none; }

    #primary-menu ul li.mega-menu { position: relative; }

    #primary-menu li.sub-menu > ul,
    #primary-menu li.sub-menu > ul.mega-menu {
        position: relative;
        width: auto;
        max-width: none;
        background: transparent !important;
        box-shadow: none;
        border: 0;
        border-top: 1px solid #EEE;
        z-index: 1;
        top: 0;
        padding-left: .875rem;
    }

    #primary-menu li.sub-menu > ul.mega-menu {
        margin: 0;
    }

    #primary-menu li.sub-menu > ul.mega-menu > li {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    #primary-menu ul li .mega-menu-content { padding-left: 0; }

    #primary-menu ul ul:not(.mega-menu-column) ul {
        top: 0 !important;
        left: 0;
    }

    #primary-menu ul ul.menu-pos-invert:not(.mega-menu-column),
    #primary-menu ul li .mega-menu-content.menu-pos-invert {
        left: 0;
        right: 0;
    }

    #primary-menu ul ul:not(.mega-menu-column) ul.menu-pos-invert { right: 0; }

    #primary-menu ul ul li {
        float: none;
        margin: 0;
        border-top: 1px solid #EEE;
    }

    #primary-menu li.sub-menu > ul > li > a {
        padding: 11px 5px !important;
        font-size: .8125rem;
        text-transform: none;
        font-weight: 400;
        color: #6c4099;
        -webkit-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }

    #primary-menu li.sub-menu > ul > li:hover > a {
        background-color: transparent !important;
        font-weight: 700;
        padding-left: .3125rem;
        color: #6c4099;
    }

    #primary-menu ul li .mega-menu-content,
    #primary-menu ul li.mega-menu-small .mega-menu-content,
    #primary-menu ul li.mega-menu .mega-menu-content,
    .floating-header.sticky-header #primary-menu ul li.mega-menu .mega-menu-content,
    .floating-header #primary-menu ul li.mega-menu .mega-menu-content {
        width: auto;
        margin: 0;
        top: 0;
    }

    .container-fullwidth #primary-menu ul li.mega-menu .mega-menu-content,
    #header.full-header #primary-menu ul li.mega-menu .mega-menu-content {
        width: auto !important;
        margin: 0 !important;
    }

    #primary-menu ul li.mega-menu .mega-menu-content.style-2 { padding: 0; }

    #primary-menu ul li .mega-menu-content ul {
        display: block !important;
        position: relative;
        opacity: 1 !important;
        top: 0;
        left: 0;
        min-width: inherit;
    }

    #primary-menu ul li .mega-menu-content ul ul { border-top: 1px solid #EEE; }

    #primary-menu ul li .mega-menu-content ul.mega-menu-column {
        float: none;
        width: auto;
        margin: 0;
        border-left: 0 !important;
        padding-left: .875rem;
        border-top: 1px solid #EEE;
    }

    #primary-menu ul li .mega-menu-content ul.mega-menu-column:first-child { border: 0; }

    #primary-menu ul li .mega-menu-content ul { width: 100% !important; }

    #primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column { padding: 0 0 0 .875rem; }

    #primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title { margin: 0; }

    #primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a {
        font-size: .8125rem;
        font-weight: 700;
        text-transform: none !important;
        padding: .6875rem .3125rem !important;
        line-height: 1.375rem !important;
        color: #444 !important;
    }

    #primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title:hover > a {
        background-color: transparent;
        color: #6170ff !important;
    }

    #primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a:hover { color: #6170ff !important; }

    #primary-menu ul li .mega-menu-content.style-2 li { border-top: 1px solid #EEE; }

    #primary-menu ul li .mega-menu-content.style-2 li:first-child { border-top: 0; }

    #primary-menu ul li .mega-menu-content.style-2 ul > li > a:hover { padding-left: 5px; }

    .mega-menu-column .widget {
        padding: 1.875rem 0;
        margin: 0 !important;
    }

    #top-search { margin: 0 !important; }

    #top-search a,
    #top-cart,
    #top-account {
        position: absolute;
        top: 0;
        left: auto;
        right: .875rem;
        margin: 2.5rem 0;
        -webkit-transition: margin 300ms ease;
        -o-transition: margin 300ms ease;
        transition: margin 300ms ease;
    }

    #primary-menu > div > #top-search a,
    #primary-menu > div > #top-cart,
    #primary-menu > div > #side-panel-trigger { margin: 20px 0 !important; }

    #primary-menu ul.windows-mobile-menu li.sub-menu { position: relative; }

    #primary-menu ul.windows-mobile-menu li.sub-menu a { background-image: none !important; }

    #primary-menu ul.windows-mobile-menu li.sub-menu a.wn-submenu-trigger {
        position: absolute;
        cursor: pointer;
        width: 2rem;
        height: 3.125rem;
        line-height: 3.125rem;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 0 !important;
        text-align: center !important;
    }

    #primary-menu ul.windows-mobile-menu .mega-menu-content a.wn-submenu-trigger { display: none; }

    #primary-menu ul.windows-mobile-menu li.sub-menu a.wn-submenu-trigger i { margin: 0 !important; }

    #primary-menu ul.windows-mobile-menu ul li.sub-menu a.wn-submenu-trigger {
        text-align: center !important;
        height: 2.75rem;
        line-height: 2.75rem;
    }

    #primary-menu ul.windows-mobile-menu ul li.sub-menu a.wn-submenu-trigger i {
        display: inline-block;
        line-height: 2.75rem;
    }

    #header.sticky-style-3 #top-cart .top-cart-content { top: 2.5rem; }

    #top-search a { right: 2.75rem; }

    #top-search form { height: 6.25rem !important; }

    #primary-menu > div > #top-search form { height: 3.75rem !important; }

    #top-search form input { font-size: 1.5rem; }

    #top-account {
        margin: 2rem 0;
        right: 4.625rem;
    }

    #top-account a.btn span { display: none; }

    body:not(.sticky-responsive-pagemenu) #page-menu #page-menu-wrap {
        position: relative !important;
        top: 0 !important;
    }

    .inner-section {
        flex-direction: column;
        align-items: center;
    }

    .inner-section .inner-content {
        -ms-flex-order: 2;
        order: 1;
    }

    .inner-section .sidebar {
        -ms-flex-order: 2;
        order: 2;
    }

    .inner-section .sidebar,
    .inner-section .inner-content,
    .inner-section .blog-grid {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
    }

    .blog-post.style-1,
    .blog-post.style-2,
    .blog-post.style-3,
    .blog-post.style-4 {
        margin-bottom: 1.5rem;
    }

    .footer-lower > .container {
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 575px) {
    html {
        font-size: 14px;
    }

    #header, #header-wrap, #logo img {
        height: 4.25rem;
    }

    #header #header-wrap .button {
        right: 1rem;
        padding: 0.84rem 1rem;
        font-size: .75rem;
    }

    .page-section .section-raised {
        margin-top: -2.75rem;
    }

    .section-content > .title > * {
        font-size: 1.5rem;
    }

    .section-content > .description > * {
        font-size: 1rem;
    }

    .slider-section .slide-title > * {
        font-size: 1.8125rem;
    }

    .slider-section .slide-sub-title > * {
        font-size: 1rem;
    }

    .footer-logo, .footer-social {
        margin-bottom: 2.5rem;
    }

    #primary-menu-trigger { left: 1.25rem; }


    #header.full-header .container {
        width: 100% !important;
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }

    #header.transparent-header.floating-header .container {
        width: 310px;
        padding: 0 .875rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    html {
        font-size: 15px;
    }

    #header.full-header .container,
    .container-fullwidth { width: 540px !important; }

    .container.vertical-middle { width: 100% !important; }

    .full-screen:not(.force-full-screen) .container.vertical-middle { width: 540px !important; }

    #top-search form input { padding-right: 3.75rem; }

    #header.transparent-header.floating-header .container {
        width: 540px;
        padding: 0 .875rem;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 1vw;
    }

    html.enlarge {
        font-size: 1.1vw;
    }

    html.shrink {
        font-size: .9vw;
    }
}