/* ----------------------------------------------------------------
	Feature Box
-----------------------------------------------------------------*/

.feature-box {
    height: 100%;
    position: relative;
    background: #e9e9e9;
    padding: 1.25rem;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    margin-bottom: 1.875rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 18.75rem;
    border-radius: .25rem;
    border-bottom: .1875rem solid #e9e9e9;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
}

.feature-box:hover {
    border-color: #d105c6;
}

.feature-box > .feature-icon {
    position: absolute;
    left: 50%;
    top: -29%;
    transform: translate(-50%, 50%);
    text-align: center;
    background: #d105c6;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: .25rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.feature-box > .feature-icon i {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}

.feature-box > .feature-icon img {
    width: 3.75rem;
    height: 3.75rem;
    filter: brightness(0) invert(1);
}

.feature-box > .feature-title > * {
    font-size: 1.5rem;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    color: #d105c6;
    margin: 0;
}

.feature-box > .feature-title {
    margin-bottom: .625rem;
    text-align: center;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 5.75rem;
    padding-top: 1.25rem;
}

.feature-box > .feature-content {
    position: relative;
    text-align: center;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 7.5rem;
}


.feature-box > .feature-content > * {
    font-size: 1rem;
    color: #000;
    margin-bottom: 0;
}

.feature-box.style-2 {
    max-width: 22.5rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: .5rem;
    background-color: #f2f2f2;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.feature-box.style-2 .feature-title {
    padding-top: 0;
}

.feature-box.style-2 .feature-title,
.feature-box.style-2 .feature-content {
    text-align: left;
}

.feature-box.style-2 .feature-title > * {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0;
    color: #000;
}

.feature-box.style-2 .feature-content > * {
    font-size: 1rem;
    margin-bottom: .5rem;
}

.feature-box.style-2 .read-more {
    margin-top: auto;
}

.feature-box.style-2 .read-more > * {
    color: #d105c6;
    font-size: 1.25rem;
}

.feature-box.style-3 {
    height: 100%;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
}

.feature-box.style-3 > .feature-icon {
    position: relative;
    left: unset;
    top: unset;
    transform: translate(0, 0);
}

.feature-box.style-3 > .feature-title,
.feature-box.style-3 > .feature-content {
    text-align: left;
}