/* ----------------------------------------------------------------
	Fonts
-----------------------------------------------------------------*/

@font-face {
    font-family: 'Roboto';
    src: local(Roboto Thin), url('font/roboto/Roboto-Thin.eot');
    src: url('font/roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('font/roboto/Roboto-Thin.woff2') format('woff2'), url('font/roboto/Roboto-Thin.woff') format('woff'), url('font/roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 200; }

@font-face {
    font-family: 'Roboto';
    src: local(Roboto Light), url('font/roboto/Roboto-Light.eot');
    src: url('font/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('font/roboto/Roboto-Light.woff2') format('woff2'), url('font/roboto/Roboto-Light.woff') format('woff'), url('font/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300; }

@font-face {
    font-family: 'Roboto';
    src: local(Roboto Regular), url('font/roboto/Roboto-Regular.eot');
    src: url('font/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('font/roboto/Roboto-Regular.woff2') format('woff2'), url('font/roboto/Roboto-Regular.woff') format('woff'), url('font/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400; }

@font-face {
    font-family: 'Roboto';
    src: url('font/roboto/Roboto-Medium.eot');
    src: url('font/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('font/roboto/Roboto-Medium.woff2') format('woff2'), url('font/roboto/Roboto-Medium.woff') format('woff'), url('font/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500; }

@font-face {
    font-family: 'Roboto';
    src: url('font/roboto/Roboto-Bold.eot');
    src: url('font/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('font/roboto/Roboto-Bold.woff2') format('woff2'), url('font/roboto/Roboto-Bold.woff') format('woff'), url('font/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700; }

@font-face {
    font-family: 'Modelica';
    src: url('font/bw-modelica/woff/BwModelica-Hairline.woff') format('woff');
    font-weight: 100;
}

@font-face {
    font-family: 'Modelica';
    src: url('font/bw-modelica/woff/BwModelica-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Modelica';
    src: url('font/bw-modelica/woff/BwModelica-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Modelica';
    src: url('font/bw-modelica/woff/BwModelica-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Modelica';
    src: url('font/bw-modelica/woff/BwModelica-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Modelica';
    src: url('font/bw-modelica/woff/BwModelica-Black.woff') format('woff');
    font-weight: 800;
}

@font-face {
    font-family: 'ModelicaSS';
    src: url('font/bw-modelica/woff/BwModelicaSS02-Hairline.woff') format('woff');
    font-weight: 100;
}

@font-face {
    font-family: 'ModelicaSS';
    src: url('font/bw-modelica/woff/BwModelicaSS02-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'ModelicaSS';
    src: url('font/bw-modelica/woff/BwModelicaSS02-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'ModelicaSS';
    src: url('font/bw-modelica/woff/BwModelicaSS02-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'ModelicaSS';
    src: url('font/bw-modelica/woff/BwModelicaSS02-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'ModelicaSS';
    src: url('font/bw-modelica/woff/BwModelicaSS02-Black.woff') format('woff');
    font-weight: 800;
}