.footer {
    padding-top: 0;
    background: #6c4099;
    color: #fff;
}

.footer .row {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.footer-lower {
    background: #61368e;
    padding: .5rem 0;
}

.footer-lower > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.footer-nav {
    list-style: none;
    margin: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-nav > li {
    margin-right: 1rem;
}

.footer-nav > li > a {
    font-size: .875rem;
}

.footer a {
    color: #fff;
}

.footer.footer-light {
    background: #ededf5;
}

.footer.footer-light * {
    color: #444;
}

.footer.footer-dark {
    background-color: #1d1928;
}

.footer.footer-dark * {
    color: #f4f3f9;
}

.footer-widget {
    padding: 2rem;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.footer-widget .about, .contact-widget .content {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.contact-widget .content {
    justify-content: flex-start;
}

.footer-logo img {
    width: 10.625rem;
}

.footer-social ul.social-links {
    list-style: none;
    padding-left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
}

.footer-social ul.social-links > li {
    margin-left: 2rem;
}

.footer-social ul.social-links > li:first-child {
    margin-left: 0;
}

.footer-social ul.social-links > li > a {
    color: #fff;
}

.footer-social ul.social-links > li > a > i {
    font-size: 1.5rem;
}

.footer-widget .about .copyright > p {
    color: #fff;
    font-size: .875rem;
    font-weight: 700;
    margin: 0;
}

.footer .footer-widget .widget-title {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: #fff;
}

.contact-widget .content {
    font-size: .875rem;
}

.contact-widget .content ul {
    list-style: none;
    padding-left: 0;
}

.contact-widget .content ul:last-child {
    margin-bottom: 0;
}

.contact-widget .content ul li > span {
    font-weight: 700;
}

.footer-widget.newsletter-widget {
    padding: 0;
}

.footer-widget.newsletter-widget .newsletter-content {
    padding: 2rem;
    background: #643d8b;
    height: 100%;
    width: 100%;
}

.newsletter-form .form-control {
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    border-radius: 0;
}

.newsletter-form .form-control::placeholder {
    color: rgba(255, 255, 255, .6);
}

.atx-widget .atx-links > ul {
    list-style: none;
    margin-bottom: 0;
}

.atx-widget .atx-links > ul > li {
    font-size: .875rem;
    margin-bottom: .875rem;
}

.atx-widget .atx-links > ul > li:last-child {
    margin-bottom: 0;
}

.atx-widget .atx-contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.atx-contact > * {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-size: .875rem;
    margin-bottom: 1.5rem;
}

.atx-contact i {
    margin-right: .625rem;
    font-size: 1.25rem;
    color: #6170ff !important;
}