/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/

#header {
    position: relative;
    background-color: #FFF;
    z-index: 199;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: all .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
}

#header-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0 auto;

    -webkit-transition: height .2s ease, position 0.2s ease;
    -moz-transition: height .2s ease, position 0.2s ease;
    -ms-transition: height .2s ease, position 0.2s ease;
    -o-transition: height .2s ease, position 0.2s ease;
    transition: height .2s ease, position 0.2s ease;
}

#header, #header-wrap, #logo img {
    height: 6.25rem;


}

#header.transparent-header {
    background: transparent;
    border-bottom: none;
    z-index: 199;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: .75rem;
}

#header.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #6b4099, #5bc6fb);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin: 0 !important;
    padding-top: 0;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

#header.transparent-header.floating-header.sticky-header #header-wrap {
    width: 1140px;
    max-width: 1140px;
    padding: 0 .875rem;
}

#header.transparent-header + #slider,
body.inner-page #header.transparent-header + .main-section,
#header.transparent-header + #page-title.page-title-parallax,
#header.transparent-header + #google-map,
#slider + #header.transparent-header {
    top: -6.25rem;
    margin-bottom: -6.25rem;
}

#header.transparent-header.floating-header + #slider,
#header.transparent-header.floating-header + #google-map {
    top: -10rem;
    margin-bottom: -10rem;
}

#header.transparent-header + #page-title.page-title-parallax .container {
    z-index: 5;
    padding-top: 6.25rem;
}

#header.full-header { border-bottom-color: #EEE; }

body.stretched #header.full-header #header-wrap {
    max-width: none;
    margin: 0 1.875rem;
}

#header.transparent-header.full-header #header-wrap {  }

#slider + #header.transparent-header.full-header #header-wrap {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: none;
}

#header.sticky-header:not(.static-sticky), #header.sticky-header:not(.static-sticky) #header-wrap, #header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
    height: 3.75rem;
}




/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/


#logo {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 100%;
    margin-right: .875rem;
    padding: .875rem;
    min-height: 6.25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#header.full-header.style-2 #logo {
    border: 0;
}

#header.transparent-header.full-header #logo {  }

#logo a {
    display: block;
    color: #444;
}

#logo img {
    display: block;
    max-width: 100%;
}

#logo svg {
    width: 10.625rem;
    height: 3.75rem;
}

#logo a.standard-logo { display: block; }

#logo a.retina-logo { display: none; }


/* ----------------------------------------------------------------
	Header Right Area
-----------------------------------------------------------------*/


.header-extras {
    float: right;
    margin: 31.875rem 0 0;
}

.header-extras li {
    float: left;
    margin-left: 1.25rem;
    height: 2.5rem;
    overflow: hidden;
    list-style: none;
}

.header-extras li i { margin-top: 3px !important; }

.header-extras li:first-child { margin-left: 0; }

.header-extras li .he-text {
    float: left;
    padding-left: .625rem;
    font-weight: bold;
    font-size: .875rem;
    line-height: 1.43;
}

.header-extras li .he-text span {
    display: block;
    font-weight: 400;
    color: #6170ff;
}