.inner-section {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.inner-section .sidebar {
    flex: 0 0 21.875rem;
    width: 21.875rem;
    max-width: 21.875rem;
    padding: 0 .9375rem;
}

.sidebar-widget {
    position: relative;
    border-radius: .5rem;
    background-color: #ededed;
    margin-bottom: 2.5rem;
}

.sidebar-widget.list-widget ul {
    list-style: none;
    margin-left: 1rem;
    margin-bottom: 0;
}

.sidebar-widget.list-widget > ul > li {
    position: relative;
    padding: .5rem 0;
}

 .sidebar-widget.list-widget > ul > li:before {
     position: absolute;
     left: -1rem;
     top: .5rem;
     font-family: 'font-icons';
     content: '\e7a5';
 }

.sidebar-widget.vertical-menu {
    margin-top: 8px;
}

.sidebar-widget:not(.vertical-menu) {
    padding: .625rem 1.25rem;
}

.sidebar-widget > * {
    position: relative;
}

.sidebar-widget > .title {
    font-family: 'Signika', sans-serif;
    margin-bottom: 1rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
}

.sidebar-widget > .title > *:first-child {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0;
}

.sidebar-widget > .title > a {
    font-size: .875rem;
    color: #6c4099;
    font-weight: 600;
}

.sidebar-widget.contact-widget > .title > * {
    color: #fff;
}

.resource {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.resource:last-child {
    margin-bottom: 0;
}

.resource > .image {
    flex: 0 0 3.5rem;
    width: 3.5rem;
    max-width: 3.5rem;
}

.resource > .image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.resource > .title {
    padding-left: 1rem;
    flex: 0 0 calc(100% - 3.5rem);
    width: calc(100% - 3.5rem);
    max-width: calc(100% - 3.5rem);
}

.resource > .title > * {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: #272727;
    margin: 0;
}

.sidebar-widget.contact-widget {
    color: #fff !important;
}

.sidebar-widget.contact-widget .content {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1rem !important;
    font-weight: 300 !important;
}

.sidebar-widget.contact-widget .content > ul > li {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar-widget.contact-widget .content > ul > li > i {
    font-size: .875rem;
    padding-right: .875rem;
    margin-top: .375rem;
}

.inner-section .inner-content,
.inner-section .blog-grid {
    flex: 0 0 calc(100% - 21.875rem);
    width: calc(100% - 21.875rem);
    max-width: calc(100% - 21.875rem);
    padding: .9375rem 1rem;
}

body.inner-page.full-width .inner-section .inner-content {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
}

body.inner-page.full-width .inner-section .inner-content {
    max-width: 45rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    -webkit-box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.contact-form {
    margin: 0
}

.contact-form .form-group:last-child {
    margin-bottom: 0;
}

.inner-section .blog-grid {
    padding: 0;
}

.nav-tree {
    position: relative;
    background: transparent;
    border-radius: .5rem;
}

.nav-tree ul {
    margin-bottom: 0;
    list-style: none;
}

.nav-tree > ul { margin: -8px 0; }

.nav-tree li {
    position: relative;
}

.nav-tree li a {
    display: block;
    padding: .625rem 1.25rem;
    color: #272727;
    font-size: 1.125rem;
    font-weight: 400;
    font-family: 'Signika', sans-serif;
}

.nav-tree li i {
    font-size: 14px;
    width: 16px;
    text-align: center;
}

.nav-tree li i:not(.icon-angle-down) {
    margin-right: 8px;
    position: relative;
    top: 1px;
}

.nav-tree li a i.icon-angle-down {
    width: auto;
    font-size: 12px;
    margin-left: 2px;
}

.nav-tree li:hover > a,
.nav-tree li.current > a,
.nav-tree li.active > a {
    background: #6c4099 !important;
    color: #fff !important;
}

.nav-tree li.active > ul {
    display: block !important;
}

.nav-tree > ul > li:before,
.nav-tree > ul > li:after,
.nav-tree li a {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.nav-tree > ul > li:before {
    content: '';
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background: #6c4099 !important;
    left: -1rem;
    top: 0;
    width: 1rem;
    height: 100%;
}

.nav-tree > ul > li:after {
    content: '';
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: -1rem;
    width: 1rem;
    height: 1rem;
    border-bottom: solid .5rem transparent;
    border-right: solid .5rem #61368e;
    border-left: solid .5rem transparent;
    border-top: solid .5rem #61368e;
}

.nav-tree > ul > li:hover:before,
.nav-tree > ul > li.current:before,
.nav-tree > ul > li.active:before,
.nav-tree > ul > li:hover:after,
.nav-tree > ul > li.current:after,
.nav-tree > ul > li.active:after {
    opacity: 1;
    visibility: visible;
}

.nav-tree ul ul { display: none; }

.nav-tree li.current > ul { display: block; }

.nav-tree ul ul a {
    font-size: .875rem;
    padding: .5rem 0;
}

.nav-tree ul ul a i.icon-angle-down { font-size: 12px; }

.nav-tree ul ul a { padding-left: 20px; }
.nav-tree ul ul ul a { padding-left: 40px; }
.nav-tree ul ul ul ul a { padding-left: 60px; }
.nav-tree ul ul ul ul ul a { padding-left: 80px; }

.inner-section .inner-content {
    background: #fff;
}

.inner-content > .title > *,
.blog-grid > .title > * {
    font-size: 1.5rem;
    color: #6c4099;
}

.inner-content > .content > p,
.inner-content > .content > ul,
.inner-content > .content > a {
    font-size: 1rem;
}

.inner-content > .content ul {
    list-style: none;
    margin-left: 1.875rem;
}

.inner-content > .content > a {
    color: #d105c6;
}

.page-list > .page-item {
    margin-bottom: 1.875rem;
}

.page-list > .page-item:last-child {
    margin-bottom: 0;
}

.page-list > .page-item > a {
    font-family: 'Signika', sans-serif;
    font-weight: 600;
    font-size: .875rem;
    color: #d105c6;
}

.profile {
    margin-bottom: 1.875rem;
}

.profile > .title > * {
    font-size: 1.375em;
}

.profile > .profile-content > .image {
    position: relative;
    max-width: 19.375rem;
    float: left;
    margin-right: 1rem;
}

.profile > .profile-content > .image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile > .profile-content > .image > .image-title {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 1rem;
}

.profile > .profile-content {
    float: left;
}