/* ----------------------------------------------------------------
	Slider
-----------------------------------------------------------------*/

#slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    max-width: 92%;
    margin-left: auto;
    margin-right: auto;
}

.slider-section .slide-title > * {
    font-size: 2.8125rem;
    color: #fff;
    margin-bottom: 1rem;
}

.slider-section .slide-sub-title > * {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 4rem;
}

.slider-content.content-center {
    -webkit-align-items: center;
    align-items: center;
}

.slider-content.content-left {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.slider-content.content-right {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.slider-content .atx-title-big {
    font-size: 1.875rem;
    font-weight: 300;
}

.slider-content .atx-sub-title {
    font-weight: 500;
    font-size: 1.375rem;
}

@media (min-width: 576px) {
    .slider-content .atx-title-big { font-size: 2.5rem; }

    .slider-content .atx-sub-title { font-size: 1.75rem; }
}

@media (min-width: 768px) {
    .slider-content .atx-title-big { font-size: 2.875rem; }

    .slider-content .atx-sub-title { font-size: 2rem; }
}

@media (min-width: 992px) {
    .slider-content .atx-title-big { font-size: 3.25rem; }

    .slider-content .atx-sub-title { font-size: 2.25rem; }
}